.popup__save-btn {
  font-family: "Inter", Arial, sans-serif;
  text-align: center;
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.popup__save-btn:hover {
  opacity: .8;
}

.popup__save-btn:disabled {
  color: #000;
  background-color: #FFFFFF;
  border: 1px solid #000;
  pointer-events: none;
  user-select: none;
  opacity: .2;
}

@media screen and (min-width:768px) {
  .popup__save-btn {
    font-size: 18px;
    line-height: 1.22;
  }
}