.profile__avatar-container {
  display: inline-block;
  position: relative;
  margin-bottom: 26px;
}

@media screen and (min-width:768px) {
  .profile__avatar-container {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.profile__avatar-container:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  border-radius: 50%;
  bottom: 0;
  cursor: pointer;
  transition: opacity .3s ease;
  opacity: 0;
}

.profile__avatar-container:after {
  content: "";
  background-image: url("../../../images/profile_edit-pencil.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  cursor: pointer;
  width: 26px;
  height: 26px;
  opacity: 0;
  transition: opacity .3s ease;
  transform: translate(-50%, -50%);
}

.profile__avatar-container:hover:after {
  opacity: 1;
}

.profile__avatar-container:hover:before {
  opacity: 1;
}