.profile__add-btn {
  width: 100%;
  max-width: 282px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: transparent;
  box-sizing: border-box;
  transition: opacity .3s ease-in-out;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (min-width:768px) {
  .profile__add-btn {
    max-width: 150px;
    margin-left: auto;
  }
}