.gallery__like-btn {
  cursor: pointer;
  opacity: 1;
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url('../../../images/gallery_like-disabled.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity .3s ease-in-out;
  border: none;
}

.gallery__like-btn:hover {
  opacity: .5;
}