.popup__container {
  position: relative;
  width: 100%;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  padding: 25px 22px;
  border: none;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #FFFFFF;

  text-align: center;
}

@media screen and (min-width:768px) {
  .popup__container {
    max-width: 430px;
    width: 100%;
    padding: 34px 36px 37px;
  }
}